▷ 프레임 10에서 3번 굴리기 구현
- 스페어나 스트라이크 성공시 3번 굴리고, 아니면 2번 굴림

▷ 점수판 구현
- 숫자로 할건지 이미지 리소스로 할건지 선택

▷ 스토리모드 구현
- 숙주 부탁해

▷ 능력2 가능하면 구현
- 분열? 되돌아오기? 산탄?

▷ 효과음 필요하게 되면 구현

▷ 인공지능 필요하게 되면 구현

▷ 스크롤링 필요하게 되면 구현